<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
  <meta charset="UTF-8" />
  <title>CARS</title>

</head>

<div layout:fragment="page_content" id="page_content" class="container h-100 bg-white overflow-hidden">

  <!-- FILTER FORM -->

  <div id="carFilterForm">
    <form th:action="@{/showAllCars/filter}" method="post">
      <div class="form-group form-row mt-5 mb-5">
        <div class="col-12 col-md-3">
          <select name="categorySelection" class="form-control" id="categorySelection">
            <option value="">CATEGORY</option>
            <option value="1" th:selected="${session.category == '1'}">COMPACT</option>
            <option value="2" th:selected="${session.category == '2'}">JEEP</option>
            <option value="3" th:selected="${session.category == '3'}">CONVERTIBLE</option>
            <option value="4" th:selected="${session.category == '4'}">HATCHBACK</option>
            <option value="5" th:selected="${session.category == '5'}">SUV</option>

          </select>
        </div>
        <div class="col-12 col-md-3">
          <select name="brandSelection" class="form-control" id="brandSelection">
            <option value="">BRAND</option>
            <option value="Suzuki" th:selected="${session.brand == 'Suzuki'}">SUZUKI</option>
            <option value="Toyota" th:selected="${session.brand == 'Toyota'}">TOYOTA</option>
          </select>
        </div>

        <div class="col-12 col-md-3 text-center">
          <button type="submit" class="btn w-100">Filter</button>
        </div>

      </div>
    </form>
  </div>


  <!-- CAR LIST. SAME TABLE AS VEHICLE SELECTION PAGE -->

  <div class="col-12">

    <table class="table table-striped table-borderless mt-5 mb-5">

      <tbody>
      <tr class="row mb-3" th:each="car:${session.allCars}">
        <td class="col-12 col-md-4">
          <div class="p-3">
            <h2 th:text="${car.brand}"></h2>
            <strong class="pb-3 d-block" th:text="${car.model}"></strong>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent text-dark">Category: <span th:text="${car.category}"></span></li>
              <li class="list-group-item bg-transparent text-dark">Available: <span th:if="${car.available} == true" th:text=" Yes"></span> <span th:if="${car.available} != true" th:text=" No"></span>
              </li>

            </ul>
          </div>

        </td>
        <td class="col-12 col-md-2">
          <div class="h-100 d-flex align-items-end flex-column p-3">
            <div class="h-100 d-flex align-items-center">
              <Strong th:inline="text"> [[${car.pricePerDay}]] <small class="float-right pr-2">&nbsp per day</small></strong>
            </div>
            <a th:href="@{selectCar(id=${car.carId})}" class="btn btn-sm mt-auto w-100">Choose</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<th:block layout:fragment="scripts">
  <script type="text/javascript">
    console.log('Hello World');
  </script>
</th:block>