html, body {
	height: 100%;
}

#page-content {
	flex: 1 0 auto;
}

#sticky-footer {
	flex-shrink: none;
}

.spring-yellow {
	color: #cfb41f;
}

.spring-gold {
	color: #d8bf64;
}

.btn,
.btn:active {
	color: white;
	background-color: #d8bf64;
	border-radius: 0;
	border-color: #d8bf64;
}

.btn:hover {
	color: white;
	background-color: #bda957;
	border-color: #bda957;
}

/*<!--Bootstrap Custom checkbox-->*/
.custom-control-input:checked ~.custom-control-label::before {
	border-color: #bda957;
	background-color: #d8bf64;
}

.breadcrumb-item+.breadcrumb-item::before {
	content: none;
}

.breadcrumb-item.active{
	color: #9c8c39;
}