<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/base-template :: head">
    <title>Cars Rental</title>
    <meta charset="UTF-8">
</head>

<body>

<header th:replace="layout/base-template :: header"/>

<div align="center">
    <h1>¡Welcome  <span sec:authentication="name">User</span>! </h1>
    <a th:href="@{/usersList}">[[#{user.list}]]</a>
    <br/>
    <a th:href="@{/carsList}">[[#{car.list}]]</a>
    <br/>
    <a th:href="@{/bookedSearch}">[[#{booked.search}]]</a>
</div>

<footer th:replace="layout/base-template :: footer"/>

</body>

</html>