
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>CAR RENTAL SYSTEM</title>
    <h1>CAR RENTAL SYSTEM </h1>

    <h2>Welcome to our System!</h2>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/styles.css"
          th:href="@{styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <img src="../static/images/collection-of-chevrolet-camaro-corvette-website-header.jpg" width="600"
             th:src="@{images/collection-of-chevrolet-camaro-corvette-website-header.jpg}"/>

    </div>
</div>

</body>
</html>
